.navMenu {
  background-color: #423e3b;
  height: 100px;
}

.nav-link {
  color: #fea82f;
}

.nav-title {
  color: #ff2e00;
}

img {
  max-width: 25%;
  max-height: 25%;
}

footer {
  background-color: #5448C8;
  max-height: 20px;
  text-align: right;
}


@media all and (min-width: 600px) {
  .navMenu {
    height: 100%;
    max-width: 300px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
